/* ABOUT SECTION */

.about{
    padding: 100px 60px;

    background: #f8fafc;
}

/* CONTAINER */

.about-container{
    max-width: 1200px;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 80px;
}

/* IMAGE */

.about-image img{
    width: 260px;
    height: 260px;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid var(--color-primary);

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

/* CONTENT */

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 3rem;

    margin-bottom: 30px;

    color: var(--color-dark);
}

.about-text{
    font-size: 1.5rem;

    margin-bottom: 25px;

    line-height: 1.7;
}

.about-content p{
    line-height: 1.8;

    color: #64748b;
}

/* RESPONSIVE */

@media(max-width:768px){

    .about{
        padding: 80px 20px;
    }

    .about-container{
        flex-direction: column;

        text-align: center;
    }

    .about-image img{
        width: 220px;
        height: 220px;
    }

    .about-content h2{
        font-size: 2.2rem;
    }

    .about-text{
        font-size: 1.2rem;
    }
}
