/* HEADER */

header{
    position: sticky;
    top: 0;

    background: white;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    z-index: 1000;

    padding: 20px 60px;
}

/* CONTAINER */

.container{
    max-width: 1200px;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.logo{
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary);
}

/* NAVIGATION */

nav{
    display: flex;
    gap: 30px;
}

nav a{
    color: var(--color-dark);

    font-weight: 500;

    position: relative;
}

/* HOVER EFFECT */

nav a::after{
    content: "";

    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;

    background: var(--color-primary);

    transition: 0.3s;
}

nav a:hover::after{
    width: 100%;
}

/* MOBILE */

.menu-toggle{
    display: none;
}

.hamburger{
    display: none;

    cursor: pointer;
}

/* RESPONSIVE */

@media(max-width:768px){

    header{
        padding: 20px;
    }

    .hamburger{
        display: flex;

        flex-direction: column;

        gap: 5px;
    }

    .hamburger span{
        width: 25px;
        height: 3px;

        background: black;
    }

    nav{
        position: absolute;

        top: 80px;
        right: 20px;

        background: white;

        width: 200px;

        flex-direction: column;

        padding: 20px;

        border-radius: 10px;

        display: none;
    }

    .menu-toggle:checked ~ nav{
        display: flex;
    }
}